<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> --}}
  <title>Sign in</title>
</head>

<body>
  <div class="main1" >
    <p class="sign1" align="center">Create an account</p>
    <form class="form1" action="/auth/signup" method="POST">
    <input type="text" class="un" name="firstName" placeholder="first name" value="{{firstName}}" />
     <input type="text" class="un" name="lastName" placeholder="last name" value="{{lastName}}" />

      <input class="un " type="email" align="center" placeholder="email" name="email">
      <input class="pass" type="password" align="center" placeholder="password" name="password">
      <input class="pass" type="password" align="center" placeholder="confirm password" name="confirmPassword">

      <button class= "submit" type="submit">Signup</button>
      {{!-- <a class="submit" align="center">Sign in</a> --}}
      {{!-- <p class="forgot" align="center"><a href="http://localhost:3000/auth/signup">Create your account</p> --}}
            
    </form>        
    </div>
     
</body>

</html>

{{#if hakunaMatata}}

{{/if}}

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

