<form action="/admin/add-product" method="post">
<h1>Add Product</h1>
<div>
<label for="title">Title
<input type="text" id="title" name="title">
</label>

<label for="price">Price
<input type="number" id="price" name="price">
</label>

<label for="image">Image
<input type="image" id="image" name="imageURL">
</label>

<label for="description">Description
<input type="text" id="description" name="description">
</label>

<div>
<button type="submit">Add Product</button>
</div>

</form>
</div>



