<form action="/wizard/custom-base" method="post">
  <h1>Step 1: Choose Your Base</h1>
  <p>Select on of the base ingredients</p>

<div class="process">

  <div>
    <img src="/images/floral.jpg" width = "200" height = "200">
      <Label for="floral">Floral</Label> <br>
      <input type="radio" id="floral"
     name="floral" value="floral">
     
  
  </div>

  <div>
    <img src="/images/floral.jpg" width = "200" height = "200">
    <Label for="gourmand">Gourmand</Label><br>
      <input type="radio" id="gourmand"
     name="gourmand" value="gourmand">
  
  </div>

  <div>
    <img src="/images/floral.jpg" width = "200" height = "200">
    <Label for="oriental">Oriental</Label><br>
      <input type="radio" id="oriental"
     name="oriental" value="oriental">
  
  </div>

  <div>
    <img src="/images/floral.jpg" width = "200" height = "200">
    <Label for="fresh">Fresh</Label>
      <input type="radio" id="fresh"
     name="fresh" value="fresh">
  
  </div>

  <div>
    <img src="/images/floral.jpg" width = "200" height = "200">
    <Label for="woodsy">Woodsy</Label>
      <input type="radio" id="woodsy"
     name="woodsy" value="woodsy">
  </div>

</div>

   


  <h1>Step 2: Choose Your Top</h1>
  <p>Select one of the Top element</p>

  <div class="process">
    <div>
      <img src="/images/sensual.png" width = "40" height = "200">
      <Label for="sensual">Sensual</Label>
      <input type="radio" id="topChoice1" name="sensual">
  
  </div>

  <div>
    <img src="/images/confident.png" width = "40" height = "200">
    <Label for="confident">Confident</Label>
      <input type="radio" id="topChoice2" name="confident">
  </div>

  <div>
    <img src="/images/sexy.png" width = "40" height = "200">
    <Label for="sexy">Sexy</Label>
      <input type="radio" id="topChoice3" name="sexy">
  </div>

  <div>
    <img src="/images/comforting.png" width = "40" height = "200">
    <Label for="comforting">Comforting</Label>
    <input type="radio" id="topChoice4" name="comforting">
  </div>

  
  <div>
    <img src="/images/peaceful.png" width = "40" height = "200">
   <Label for="peaceful">Peaceful</Label>
   <input type="radio" id="topChoice5" name="peaceful">
  </div>  
   
  </div>
  
  <h1>Step 3: Place Your Order</h1>

 <label> Quantity
    <input type="number" name="quantity" value="quantity">
    
</label>
{{!-- <br>
<label> Shipping cost
    <br>
<span>Charges = 30$</span>
</label> --}}

<label> 
    <button type="Submit">Order</button>
</label>

</form>

<img src="/images/istockphoto-160052159-612x612.jpg" width="250" height="200">
</form>

