<form action="/wizard/custom-base" method="post">
  <h1>Step 1: Choose Your Base</h1>
  <p>Select on of the base ingredients</p>

  <div class="floral">
    <img src="/images/floral.jpg" width = "250" height = "200">
  </div>

  <div>
  <Label for="floral">
  Floral
      <input type="radio" id="baseChoice1"
     name="floral">
  </Label>

  <div class="floral">
    <img src="/images/gourmand.jpg" width = "250" height = "200">
  </div>

    <Label for="gourmand">
  Gourmand
      <input type="radio" id="baseChoice2"
     name="gourmand">
  </Label>

  <Label for="oriental">
  Oriental
      <input type="radio" id="baseChoice3"
     name="oriental">
  </Label>

  <Label for="fresh">
  Fresh
      <input type="radio" id="baseChoice4"
     name="fresh">
  </Label>

   <Label for="woodsy">
  Woodsy
      <input type="radio" id="baseChoice5"
     name="woodsy">
  </Label>

  <h1>Step 2: Choose Your Top</h1>
  <p>Select on of the Top element</p>

  <div>
    <Label for="sensual">
  Sensual
      <input type="radio" id="topChoice1"
     name="sensual">
  </Label>

  <Label for="confident">
  Confident
      <input type="radio" id="topChoice2"
     name="confident">
  </Label>

  <Label for="sexy">
  Sexy
      <input type="radio" id="baseChoice3"
     name="sexy">
  </Label>

  <Label for="comforting">
  Comforting
      <input type="radio" id="topChoice4"
     name="comforting">
  </Label>

   <Label for="peaceful">
  Peaceful
      <input type="radio" id="topChoice5"
     name="peaceful">
  </Label>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>

