<h1>Congratulations! Your custom fragrance is ready</h1>

<p>Your custom scent will be blend fresh and sent for you to enjoy</p>

<form action="/wizard/custom-ready" method="post">
<h1>Step 3: Place Your Order</h1>

 <label> Quantity
    <input type="number" name="quantity" value="quantity">
    
</label>
<br>

 <label> Email
    <input type="email" name="email">
</label>

<br>
<label> Shipping cost
    <br>
<span>Charges = 30$</span>
</label>

<label> 
    <button type="Submit">Submit</button>
</label>

</form>

<img src="/images/istockphoto-160052159-612x612.jpg">