<h1>Congratulations! Your have successfully ordered your custom fragrance.</h1>

{{#if createdBaseAndTop}}

<h1>Congratulations! Your have successfully ordered your custom fragrance.</h1>

{{/if}}

<div>
<img src="/images/istockphoto-160052159-612x612.jpg" width="400" height="400" align="center">
</div>

<h2 align="center">Your custom scent will be blend fresh and sent for you to enjoy</h2>

<a href="/user/{{_id}}">Check your order details here </a>