<h1>Step 1: Choose Your Top</h1>
<form action="/wizard/custom-top" method="post">
<Label> Floral
    <input type="radio" name="flora">
</Label>

<Label> Gourmand
    <input type="radio" name="gourmand">
</Label>

<Label> Oriental
    <input type="radio" name="oriental">
</Label>

<Label> Fresh
    <input type="radio" name="fresh">
</Label>

<Label> Woodsy
    <input type="radio" name="woodsy">
</Label>

<button type="">Submit</button>
    
</form>