<h1>Step 1: Choose Your Base</h1>
<form action="/wizard/custom-base" method="post">
<Label> Floral
    <input type="radio" name="flora">
    <button type="">Submit</button>
</Label>

<Label> Gourmand
    <input type="radio" name="gourmand">
</Label>

<Label> Oriental
    <input type="radio" name="oriental">
</Label>

<Label> Fresh
    <input type="radio" name="fresh">
</Label>

<Label> Woodsy
    <input type="radio" name="woodsy">
</Label>
    
</form>