<form action="/wizard/custom-base" method="post">
  <h1>Step 1: Choose Your Base</h1>
  <div>
    <input type="radio" id="baseChoice1"
     name="base" value="floral">
    <label for="contactChoice1">Flora</label>

    <input type="radio" id="baseChoice2"
     name="base" value="gourmand">
    <label for="contactChoice2">Gourmand</label>

    <input type="radio" id="baseChoice3"
     name="base" value="oriental">
    <label for="contactChoice3">Oriental</label>

     <input type="radio" id="baseChoice3"
     name="base" value="fresh">
    <label for="contactChoice4">Fresh</label>

     <input type="radio" id="baseChoice3"
     name="base" value="woodsy">
    <label for="contactChoice5">Woodsy</label>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
