<form action="/wizard/custom-base" method="post">
  <h1>Step 1: Choose Your Base</h1>
  <p align="center">Select one of the base ingredients</p>

<div class="process">

  <div>
    <img src="/images/sophisticated_bottle.jpg" width = "175" height = "175"> <br>
      <Label for="floral"></Label>
      <input type="radio" id="floral"
     name="floral" value="floral">
     <p>FLORAL</p>
  </div>

  <div>
    <img src="/images/edible_bottle.jpg" width = "175" height = "175"> <br>
      <Label for="floral"></Label>
    <Label for="gourmand"></Label>
      <input type="radio" id="gourmand"
     name="gourmand" value="gourmand">
     <p>GOURMAND</p>
  </div>

  <div>
    <img src="/images/exotic_bottle.jpg" width = "175" height = "175"> <br>
      <Label for="floral"></Label>
    <Label for="oriental"></Label>
      <input type="radio" id="oriental"
     name="oriental" value="oriental">
     <p>ORIENTAL</p>
  </div>

  <div>
    <img src="/images/clean_bottle.jpg" width = "175" height = "175"> <br>
      <Label for="floral"></Label>
    <Label for="fresh"></Label>
      <input type="radio" id="fresh"
     name="fresh" value="fresh">
     <p>FRESH</p>
  </div>

  <div>
    <img src="/images/bold_bottle.jpg" width = "175" height = "175"> <br>
      <Label for="floral"></Label>
    <Label for="woodsy"></Label>
      <input type="radio" id="woodsy"
     name="woodsy" value="woodsy">
     <P>WOODSY</P>
  </div>

</div>

   


  <h1>Step 2: Choose Your Top</h1>
  <p>Select one of the Top element</p>

  <div class="process">
    

    <div>
      <img src="/images/sensual.png" width = "40" height = "200"> <br>
      <Label for="sensual"></Label>
      <input type="radio" id="topChoice1" name="sensual">
      <p>SELECT</p>
  
  </div>
  

  <div>
    <img src="/images/confident.png" width = "40" height = "200"> <br>
    <Label for="confident"></Label>
      <input type="radio" id="topChoice2" name="confident">
      <p>SELECT</p>
  </div>

  <div>
    <img src="/images/sexy.png" width = "40" height = "200"> <br>
    <Label for="sexy"></Label>
      <input type="radio" id="topChoice3" name="sexy">
      <p>SELECT</p>
  </div>

  <div>
    <img src="/images/comforting.png" width = "40" height = "200"> <br>
    <Label for="comforting"></Label>
    <input type="radio" id="topChoice4" name="comforting">
    <p>SELECT</p>
  </div>

  
  <div>
    <img src="/images/peaceful.png" width = "40" height = "200"> <br>
   <Label for="peaceful"></Label>
   <input type="radio" id="topChoice5" name="peaceful">
   <p>SELECT</p>
  </div>  
   
  </div>
  
  <h1>Step 3: Place Your Order</h1>

 <label class="quantity"> Quantity
    <input type="number" name="quantity" value="quantity"> 
    <button onclick="myFunction()" type="Submit">Order</button>
</label>

<label> 
    

    <script>
function myFunction() {
  alert("You have placed the order successfully!");
}
</script>

</label>

