<form action="/wizard/custom-top" method="post">
  <h1>Step 1: Choose Your Top</h1>
  <div>
    <input type="checkbox" id="topChoice1"
     name="top" value="sensual">
    <label for="topChoice1">Sensual</label>

    <input type="checkbox" id="topChoice2"
     name="top" value="confident">
    <label for="topChoice2">Confident/label>

    <input type="checkbox" id="topChoice3"
     name="top" value="sexy">
    <label for="topChoice3">Sexy</label>

     <input type="checkbox" id="topChoice3"
     name="top" value="comforting">
    <label for="topChoice4">Comforting/label>

     <input type="checkbox" id="topChoice3"
     name="top" value="peaceful">
    <label for="topChoice5">Peaceful</label>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
