
<div class="history">
    <h1>OUR HISTORY</h1>
</div>

<div class="history-description">

    <img src="/images/istockphoto-868910934-612x612.jpg">

    <h4>
        We had a thought. We transformed our concept into reality by working diligently and with sincerity. We think that when you have a goal you should work toward it. Hello and welcome to the Scentium world. 
        
        <br> We strive every day to make our goal come true and to make each consumer fall in love with fragrance and themselves just a little bit more. We do this with fun, flair, and a burning passion. We want you to have some reason to trust in our signature smells. 
        
        <br>
        Like life, our planet is teeming with diverse people and opportunities. Enjoy discovering new things and using your senses. In our blends, we hope you'll find mystery, love, and inspiration. And there's nothing wrong with enjoying this adventure to the fullest!
    </h4>


</div>
