<h1>OUR HISTORY</h1>
<div>
    <p>
        We had an idea. With passion, hard work and integrity, we blended our idea into something real. We believe that when you believe in something you should pursue it. Welcome to our world, the world of Aromachology.

It is with fun, flair and feverish passion that we work everyday to help bring our dream to reality; to help each customer fall in love with fragrance, and themselves a bit more. We hope our custom scents give you something to believe in.

Our world, like life, is full of personalities and possibilities. Enjoy exploring and engaging your senses. We hope you find inspiration, love and mystery in our blends. And, there’s nothing wrong with having as much fun as possible while on this adventure!

With Love,
    </p>

    <img src="/images/istockphoto-868910934-612x612.jpg">


</div>
