<h1>WELCOME TO SCENTIUM</h1>
<p>Our goal at Scentium is to revolutionize the artistic experience of creating, enjoying and wearing fragrance.
<br>We believe everyone is unique and should be able to create a fragrance that embodies their unique personality.<br>
We want to empower people to be themselves, define themselves and be proud of their individuality. </p>

<div class="home-card">
<div>
    <a href="https://scentium.herokuapp.com/wizard/type"><img src="/images/create (1).png" alt="create your fragrance"></a>
</div>


<div>
    <a href="https://scentium.herokuapp.com/products"><img src="/images/readytodwear.png" alt="ready to wear fragrances"></a>
</div>

</div>

<div class="card-text">
<h3>CREATE YOUR OWN FRAGRANCE</h3>

<h3>OUR READY TO WEAR FRAGRANCES</h3>
</div>

<h1>OUR POPULAR FRAGRANCE</h1>
<p>Individuality means everything. But that doesn't mean that classics aren’t dubbed as being such for a reason.
These are just a few of our most beloved products.</p>

