<h1>WELCOME TO SCENTIUM</h1>

<h4>
<p>Our goal at Scentium is to revolutionize the artistic experience of creating, enjoying and wearing fragrance.
<br>We believe everyone is unique and should be able to create a fragrance that embodies their unique personality.<br>
We want to empower people to be themselves, define themselves and be proud of their individuality. </p>
</h4>

<div class="home-card">
<div>
    <a href="https://scentium.herokuapp.com/wizard/type"><img src="/images/create (1).png" alt="create your fragrance"></a>
    <h4>CREATE YOUR OWN FRAGRANCE</h4>  
</div>

<div>
    <a href="https://scentium.herokuapp.com/products"><img src="/images/readytodwear.png" alt="ready to wear fragrances"></a>
    <h4>OUR READY TO WEAR FRAGRANCES</h4>
</div>

</div>

<h1>OUR POPULAR FRAGRANCE</h1>

<head>
  <title>Our Popular Fragrance</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img">
      <img src="/images/popular_product.jpg" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Sensual</h1>
        <p>Individuality means everything. But that <br>doesn't mean that classics aren’t dubbed <br> as being such for a reason.
These are <br>just a few of our most beloved products. </p>
      </div>
      <div class="product-price-btn">
        <p><span>78</span>$</p>
        <button type="button">buy now</button>
      </div>
    </div>
  </div>

</body>


