<h2 align="center">3 EASY STEPS TO CREATE YOUR OWN CUSTOM FRAGRANCE</h2>

<div class="process" >
    
<div>
<h3>STEP 1</h3>
<img src="/images/base.jpg" width="300" height="200">
<h4>CHOOSE A BASE</h4>
<p>Choose your fragrance composition's base.</p>
</div>

<div>
<h3>STEP 2</h3>
<img src="/images/top.jpg" width="300" height="200">
<h4>CHOOSE A TOP</h4>
<p>Choose your fragrance composition's top.</p>
</div>

<div>
<h3>STEP 3</h3>
<img src="/images/order.jpg" width="300" height="200">
<h4>ORDER YOUR BLEND</h4>
<p>Place your order!</p>
</div>
</div>

 <div class="parent">
     <h2 align="center">WATCH THE 3-STEP PROCESS IN ACTION</h2>
    <div class="card">
            <div class="visual">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NrJxaP-rZP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
    </div>
  </div>

<h3 align="center">
<a href="http://localhost:3000/wizard/custom-base">CREATE YOUR CUSTOM SCENT</a> 
</h3>





