<span class="page-title">
<h2>3 EASY STEPS TO CREATE YOUR OWN CUSTOM FRAGRANCE</h2>
</span>

<div class="process">

<div class="steps">
<h3>STEP 1</h3>
<img src="/images/base.jpg" width="300" height="200">
<h4>CHOOSE A BASE</h4>
<p>Choose your fragrance composition's base.</p>
</div>

<div>
<h3>STEP 2</h3>
<img src="/images/top.jpg" width="300" height="200">
<h4>CHOOSE A TOP</h4>
<p>Choose your fragrance composition's top.</p>
</div>

<div>
<h3>STEP 3</h3>
<img src="/images/order.jpg" width="300" height="200">
<h4>ORDER YOUR BLEND</h4>
<p>Place your order, and your personalized perfume will be freshly blended <br> and given to you so you can enjoy it..</p>
</div>

</div>

<h3>
<a class="fcc-btn" href="http://localhost:3000/wizard/custom-base">CREATE YOUR CUSTOM SCENT</a> 
</h3>



