<h1>Your order details are below</h1>
<h2>{{fragrance.base}} {{fragrance.top}}</h2>

{{#if isloggedIn}}

<div>

Do you want to cancel your order?
<a href="/fragrance/{{orderId}}/request">here</a>
</div>
{{/if}}



